.websites {
  position:  fixed;
  right: 315;
  top:  8;
}

.projects {
  position:  fixed;
  right: 215;
  top:  8;
}

.linked {
  position:  fixed;
  right:  115;
  top: 8;
}

.contact {
  position: fixed;
  right:  15;
  top: 8;
}

.about {
  position:  fixed;
  right:  415;
  top:  8;
}

h2 {
  margin-left:  40;
  margin-top:  65px;
}
