#home {
	position: absolute;
	right: 80%;
	top: 8px;
}
#about {
	position: absolute;
	right: 65%;
	top: 8px;
}

#websites {
	position: absolute;
	right: 50%;
	top: 8px;
}

#projects {
	position: absolute;
	right: 35%;
	top: 8px;
}

#linked {
	position: absolute;
	right: 20%;
	top: 8px;
}

#contact {
	position: absolute;
	right: 5%;
	top: 8px;
}

head {
	background: #adcde3;
}

button {
	background-color: #adcde3; 
	border-width: 0; 
	color: black; 
	height: 40px;
	width: 100px;
}

button:hover {
	background-color: #d3d3d3; 
	border-width: 0; 
	color: black; 
	height: 40px;
	width: 100px;
}

body {
	background-image: linear-gradient(#adcde3, #f6cdff);
}

img {
	float: right;
	margin-top:  65px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.text {
  padding-right: 20px;
  float: right;
}

h2 {
	font-size: 45px;
}

p {
	font-size: 18px;
}

footer {
	font-size: 12px;
}
